{% extends 'base.html' %}

{% block inheritance %}

{%for clothing in clothing %}
<div class="card" style="width: 18rem;">
    <img src="https://img.freepik.com/vector-gratis/conjunto-ropa-verano_74855-446.jpg?w=2000" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{clothing.name}}</h5>
      <p class="card-text">Color: {{clothing.colour}}</p>
      <p class="card-text">Talle: {{clothing.size}}</p>
      <p class="card-text">Precio: {{clothing.price}}$</p>
      {% if clothing.stock == True %}
        <p class="card-text">Hay stock</p>
      {% else %}
        <p class="card-text">No hay stock</p> 
      {% endif %} 
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endfor %}

{% endblock %}
